<header>FlashCard Anki</header>

<div class="home">
<form action="/register" method="get">
  <button class="first_button" type="submit">Register!</button>
</form>
</div>


<form class="play" action="/display_decks" method="post">
  <button class="second_button" type="submit">Play!</button>
</form>




