body {
  /*background: url('../skulls.png') repeat;*/
  background-color: #ecf0f1;
}
/*.container {
    margin: 20px auto;
    }*/

#card_decks {
  margin: 50px auto;
  width: 600px;
}

#card_decks li {
  float: left;
  padding-left: 100px;
  list-style: none;

}

#center_body {

  margin: 0 auto;
  width: 300px;

}
.button {
  float: left;
  padding-left: 60px;
  font-family: Helvetica;
  border-radius: 15px;
  border: none;


}

.question, .answer {
  margin: 75px auto;
  width: 300px;
  height: 150px;
  padding: 0 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  color: black;
  background: url(/index_card.png);
  background-size: 100%;
}
th {
  text-align: left;
}

.new {
  float: none;
  padding: 10px;

}

.existing {
  float: none;
}

.register {
  color: blue;
  text-align: center;

}

.login {
  color: black;
  text-align: center;

}

.home {
  text-align: center;
  color: blue;
}

.play {
  text-align: center;
  color: blue;
}

/*body {
  background-color: white;
}*/

.rules {
  text-align: center;
  padding-top: 50px;

}


header {
  background: #ff0084;
  padding: 35px 0 15px 50px;
  color: white;
  font-size: 35px;
  height: 50px;
}

#exit {
  margin-right: 30px;
  float: right;
}

#flip {
  margin: 20px 0 0 250px;

}

h1 {
  margin: 0 0 47px 0;
}

.counter {
  width: 200px;
  margin-left: 10px;
}

.slogan {
  text-align: center;
  color: green;
}

.first_button {
  background-color: #0063dc;
  font-family: Helvetica;
  font-size: 50px;
  margin: 150px;
  color: white;
  border-radius: 15px;
  width: 400px;
  height: 150px;
  border: none;
}

.second_button {
  background-color: #0063dc;
  margin: -300pxpx;
  font-family: Helvetica;
  border-radius: 15px;
  border: none;
  font-size: 50px;
  color: white;
  width: 400px;
  height: 150px;
}
